html {
  background: #fafafa;
  font-size: 16px;
}

body {
  font-family: "Microsoft JhengHei", "Roboto", sans-serif;
  font-size: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #9e9e9e;
}

.loading {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .85);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select {
  position: absolute;
  display: inline !important;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

nav {
  margin-bottom: 30px;
}

label.validate-invalid {
  position: absolute;
  top: 49px;
  font-size: .8rem;
  color: #f44336;
}

/* Override Materialize CSS to correct the dropdown validation styling */
.select-wrapper input.select-dropdown.valid,
.select-wrapper input.select-dropdown.invalid {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}
.select-wrapper.validate-invalid input.select-dropdown {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

.location-row {
  padding: 0 1rem;
  transition: background-color .25s ease;
}
.location-row:hover {
  background-color: #f2f2f2;
}
.location-row:after {
  content: "";
  display: table;
  clear: both;
}
.location-row .slot-unavailable {
  color: #dfdfdf;
}
.location-row .slot-available {
  color: #26A65B;
}
.location-row .slot-peak {
  background-color: #fff3d6;
  transition: background-color .25s ease;
}
.location-row:hover .slot-peak {
  background-color: #ffeab9;
}
.location-row .location {
  float: left;
}
.location-row ul.slots {
  float: right;
  margin: 0;
  list-style: none;
}
.location-row ul.slots > li {
  display: inline-block;
  width: 60px;
  text-align: center;
}

#result-filter #filter-bookable {
  float: right;
}
#result-filter #filter-bookable label {
  color: #666;
  font-size: .95rem;
}

#result-message {
  text-align: center;
}

#result-table .result-table-header {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
}
#result-table .result-table-header .location-row {
  padding: 0;
}
#result-table .result-table-header .location-row:hover {
  background-color: inherit;
}
#result-table .collapsible-header {
  padding: 0;
}
#result-table .collapsible-header i {
  float: none;
  display: inline;
  width: auto;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
}
#result-table .collapsible-body .court-rows {
  line-height: 3rem;
}

#result-table .result-table-guide .row {
  margin-bottom: 0;
}
#result-table .result-table-guide .location-row {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2.5rem;
}
#result-table .result-table-guide .demo-box {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
  box-shadow: 0 0 8px #ccc;
  border-radius: 10px;
  text-align: center;
}
#result-table .result-table-guide .demo-text {
  float: left;
  text-transform: uppercase;
}


@media screen and (min-width: 1400px) {
  .location-row ul.slots > li {
    width: 80px;
  }
}
