html {
  font-size: 16px;
}

body {
  width: 320px;
  padding: 15px;
  font-family: "Microsoft JhengHei", "Roboto", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#site-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #888;
}

#actions {
  margin: 15px -3px;
}
#actions:after {
  content: "";
  display: table;
  clear: both;
}
#actions .btn-container,
#actions .btn-container-large {
  float: left;
  width: 50%;
  margin: 0 0 6px;
  padding: 0 3px;
}
#actions .btn-container-large {
  width: 100%;
}
#actions .btn,
#actions .btn-large {
  width: 100%;
}
#actions .btn {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .8rem;
}

#reminders .calendar .days .day.facility-check-reminder:after,
#reminders .calendar-guide .guide .demo-box .day.facility-check-reminder:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #66bb6a transparent;
}

#reminders .calendar-guide {
  margin: 10px -10px;
}
#reminders .calendar-guide:after {
  content: "";
  display: table;
  clear: both;
}
#reminders .calendar-guide .guide {
  float: left;
  width: 50%;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
}
#reminders .calendar-guide .guide:after {
  content: "";
  display: table;
  clear: both;
}
#reminders .calendar-guide .guide .demo-box {
  float: left;
  width: 30px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px #cecece;
  border-radius: 3px;
  text-align: center;
  cursor: default;
}
#reminders .calendar-guide .guide .demo-box .day {
  position: relative;
}
#reminders .calendar-guide .guide .demo-text {
  float: left;
  margin-left: 10px;
}
