html {
  font-size: 16px;
}

body {
  width: 320px;
  padding: 15px;
  font-family: "Microsoft JhengHei", "Roboto", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#site-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #888;
}

#actions {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
#actions .btn,
#actions .btn-large {
  width: 100%;
}
